<% if logged_in? %>
<% provide(:title, 'Forums Home') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
  </ol>
  <div class="custom_pagination">
    <%= will_paginate @forums, :inner_window => 1, :outer_window => 0 %>
  </div>
  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-8">Forum</th>
            <th class="col-md-4">Latest</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'forums/forum' %>
        </tbody>
      </table>
  </div>
  <div class="custom_pagination">
    <%= will_paginate @forums, :inner_window => 1, :outer_window => 0  %>
  </div>
</div>

<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Test Forum</h1>
    <h2>
      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </h2> 
  </div>
<% end %>

