<% if @forums.any? %>
  <% @forums.each do |f| %>
    <tr>
      <td class="col-md-10">
          <p><%= link_to f.title, "forums/#{f.id}"
              %></p>
          <p>Topics: <%= f.topics.count %>, 
            Posts: <%= f.posts.count %></p>
      </td>

      <td class="col-md-2">
        <% if !f.topics.empty? %>
          <p data-toggle="tooltip" title="<%= f.topics.order("last_post_id")
            .last.title %>">
            <%= truncate(f.topics.order("last_post_id").last.title, :length => 30) %>
          </p>
          <p><%= f.topics.order("last_post_id").last.posts.first.user.name %>, 
            <%= time_ago_in_words(f.topics.order("last_post_id")
               .last.posts.first.created_at)%> ago</p>
        <% else %>
          <p>No topics in this forum</p>
        <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
