<% if @forums_keys.any? %>
  <% @forums_keys.each do |key| %>
    <tr>
      <td class="col-md-10">
          <p><%= link_to key, "forums/#{@forums_main_hash[key]["forum_id"]}"
              %></p>
          <p>Topics: <%= @forums_main_hash[key]["topics_count"] %>, 
            Posts: <%= @forums_main_hash[key]["posts_count"] %></p>
      </td>

      <td class="col-md-2">
          <p data-toggle="tooltip" title="<%= @forums_main_hash[key]["latest_title"] %>">
            <%= truncate(@forums_main_hash[key]["latest_title"], :length => 30) %>
          </p>
          <% if @forums_main_hash[key]["latest_date"] %>
            <p><%= @forums_main_hash[key]["latest_user"] %>, 
              <%= time_ago_in_words(@forums_main_hash[key]["latest_date"])
              %> ago</p>
          <% end %>
      </td>
    </tr>
  <% end %>
<% end %>
