<% if logged_in? %>
<% provide(:title, "#{Forum.find(params[:id]).title}") %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to Forum.find(params[:id]).title,
      "../forums/#{params[:id]}" %></li>
  </ol>
  



  <div>
    <%= link_to "Create a new topic!", "../forums/#{params[:id]}/topics/new", 
      {class: "btn btn-sm btn-primary", style: "float:left"} %>
  </div>
  <div class="custom_pagination">
    <%= will_paginate @forum_ids, :inner_window => 1, :outer_window => 0  %>
  </div>

  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-7">Topic</th>
            <th class="col-md-1"></th>
            <th class="col-md-4">Latest</th>
          </tr>
        </thead>
        <tbody>
          <%= render 'forum_topics' %>
        </tbody>
      </table>
  </div>
  <div class="custom_pagination">
    <%= will_paginate @forum_ids, :inner_window => 1, :outer_window => 0 %>
  </div>
</div>

<% end %>

