<div class="container-fluid">
  <ol class="breadcrumb">
    <li><%= link_to "Forums Home", forums_show_path %></li>
  </ol>
  <div>
    <% if current_user.admin? %>
      <%= link_to "Create a new forum!", new_forum_path, 
        {class: "btn btn-sm btn-primary", style: "float:left"} %>
    <% end %>
  </div>
  <div class="custom_pagination">
    <%= will_paginate @forums, :inner_window => 1, :outer_window => 0 %>
  </div>
  <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="col-md-9">Forum</th>
            <th class="col-md-1"></th>
            <th class="col-md-2 table-title-border">Latest</th>
          </tr>
        </thead>
        <tbody>
          <ol>
            <%= render 'forums' %>
          </ol>
        </tbody>
      </table>
  </div>
  <div class="custom_pagination">
    <%= will_paginate @forums, :inner_window => 1, :outer_window => 0  %>
  </div>
</div>
