<% provide(:title, "#{Forum.find(params[:id]).title}") %>
<h1><%= Forum.find(params[:id]).title %></h1>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <h5>Logged in as <%= link_to current_user.name, current_user %></h5>
      </section>
    </aside>
  </div>
  <%= link_to "Create a new topic!", "../forums/#{params[:id]}/topics/new", class: "btn btn-lg btn-primary" %>
  <%= will_paginate @forum_ids %>
  <div class="row">
    <ol class="forums">
      <%= render 'forum_topics' %>
    </ol>
  </div>
  <%= will_paginate @forum_ids %>



<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Test Forum</h1>

    <h2>
      This is the home page
    </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>

  </div>

   <%= link_to image_tag("orangutan_with_baby.jpg", alt: "Test Forum"),
            'http://www.google.com/' %>
<% end %>

