<% if @topics.any? %>
  <% @topics.each do |f| %>
    <tr>
      <td class="col-md-9">
        <p class="<%= f.id %>.title"><%= link_to word_wrap(f.title), 
          posts_show_path(forum_id: f.forum.id, topic_id: f.id) %></p>
          <p class="<%= f.id %>.info">By: <%= link_to f.posts.last.user.name, 
            f.posts.last.user %>, <%= time_ago_in_words(f.posts.last
            .created_at) %> ago. Posts: <%= f.posts.count %>
          </p>
      </td>
      <td class="col-md-1">
        <% if current_user.admin? || current_user?(f.posts.last.user) %>

          <button id="Modal_<%= f.id %>" type="button" class="btn btn-primary btn-xs" 
            data-toggle="modal" data-target="#myModal_<%= f.id %>">
            <span class="glyphicon glyphicon-edit"></span>
          </button>

          <div class="modal fade" id="myModal_<%= f.id %>" role="dialog">
            <div class="vertical-alignment-helper">
            <div class="modal-dialog vertical-align-center"> 
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Edit Topic Title</h4>
                </div>
                <div class="modal-body">
                  <%= form_tag topic_path(f.id), :method => :patch do %>
                    <%= text_field_tag "title", f.title %>
                    <%= submit_tag "Submit", class: "btn btn-primary" %>
                  <% end %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
            </div>
          </div>

          <%= link_to f, method: :delete, 
            data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-xs" do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% end %>
      </td>
      <td class="col-md-2 table-border">
        <p class="<%= f.id %>.latest_post">Last Post By: <%= link_to truncate(f.last_post.user.name, 
          :length => 30), f.last_post.user %></p>
        <p class="<%= f.id %>.latest_time"><%= time_ago_in_words(f.last_post.created_at) %> ago</p>
      </td>
    </tr>
  <% end %>
<% end %>
