<%= form_for(@posts_form) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="post_content_field">
    <%= f.text_area :content, placeholder: "Compose new post..." %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary", data: { disable_with: 'Submitting...' } %>
  <%= f.hidden_field :topic_id, :value => @post_topic %>
<% end %>
