<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to truncate(post.user.name, 
    :length => 30), post.user %></span>
  <span class="forum">(<%= link_to truncate(post.topic.forum.title,
    :length => 30), topics_show_path(post.topic.forum.id) %> /</span>
  <span class="topic"><%= link_to truncate(post.topic.title,
    :length => 30), posts_show_path(forum_id: post.topic.forum.id,
    topic_id: post.topic.id) %>)</span>
  <span class="content"><%= word_wrap(post.content) %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>
